{% extends "base.html" %}

{% block title %}Faculty Dashboard{% endblock %}

{% block content %}

<h1>Faculty Academic Dashboard</h1>

<div class="cards">

<div class="card">
<h3><i class="fa-solid fa-users"></i> Student Strength</h3>
<p>Total enrolled students across departments</p>
<span class="card-value">30 Students</span>
</div>

<div class="card">
<h3><i class="fa-solid fa-chart-line"></i> Academic Performance</h3>
<p>Subject-wise analysis</p>
<span class="card-value">View Insights</span>
</div>

<div class="card">
<h3><i class="fa-solid fa-file-csv"></i> Marks Management</h3>
<p>Upload and manage marks</p>
<span class="card-value">Upload Files</span>
</div>

</div>

{% endblock %}