<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Faculty Dashboard{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/faculty_dashboard.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<div class="layout">

<!-- SIDEBAR -->
<aside class="sidebar">

<h2>
<i class="fa-solid fa-user-tie"></i> Faculty
</h2>

<a href="/f_profile" class="faculty-info-link">
<div class="faculty-info">

<img id="sidebarPhoto"
src="{{ url_for('static', filename='images/faculty.jpg') }}">

<h3 id="sidebarName">Faculty</h3>
<p id="sidebarDept">Department</p>

</div>
</a>

<nav>

<a class="nav-link" href="/faculty_dashboard">
<i class="fa-solid fa-chart-line"></i> Dashboard
</a>

<a class="nav-link" href="/students">
<i class="fa-solid fa-users"></i> Students
</a>

<a class="nav-link" href="/upload_marks">
<i class="fa-solid fa-file-csv"></i> Upload Marks
</a>

<a class="nav-link" href="/analytics">
<i class="fa-solid fa-chart-column"></i> Analytics
</a>

<a class="nav-link" href="/attendance">
<i class="fa-solid fa-calendar-check"></i> Attendance
</a>

<a class="logout" href="/logout">
<i class="fa-solid fa-right-from-bracket"></i> Logout
</a>

</nav>

</aside>

<!-- MAIN CONTENT -->
<main class="main">

{% block content %}
{% endblock %}

</main>

</div>

</body>
</html>